<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Sign up / Login Form</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
<!-- partial:index.partial.html -->
<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
	<link rel="stylesheet" type="text/css" href="slide navbar style.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">

					<label for="chk" aria-hidden="true">Menu</label>

				<a style="color:white">NOTICIAS DE {{usuario}}</a>
				<br><br><br>
				{% for noticia in listanoticias %}
					<h2 style="color:white">{{noticia[1]}}</h2>
					<h3 style="color:white">{{noticia[2]}}</h3>
					<br>
				{% endfor %}



			</div>

	</div>
</body>
</html>
<!-- partial -->
  
</body>
</html>
